.main {
  background-color: var(--primary-dark);
  height: fit-content;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.logoImg {
  max-width: 50px;
  max-height: 50px;
  padding: 5px;
  align-self: center;
  margin-left: 2rem;
}
.navItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}
.navItemContainer:hover {
  border-bottom: 5px solid var(--white) !important;
  transition: ease-in-out 0.5s;
}
.navigationButtons {
  display: flex;
}

.userDropdown {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}
.userDropdown:hover {
    border-bottom: 5px solid var(--white);
    transition: ease-in-out 0.5s;
  }