:root {
  
  --primary: #225EE8;
  --primary-dark: #0C2254;

  --white: #fff;
  --green: #0B9E23;
  --orange: #E98609;
  --babyblue: #1B91E7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.link {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}
