@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --primary: #225ee8;
  --primary-dark: #0c2254;

  --white: #fff;
  --green: #0b9e23;
  --orange: #e98609;
  --babyblue: #1b91e7;
  --grayBG: #F9F9F9;
  --grayEdges: #E7E8E9;
  --grayTexts: #5F5F5F;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.link {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}
.pagination {
  background-color: var(--grayBG);
  border: 1px solid var(--grayEdges);
  border-radius: 50px
}